<div class="container">
  <div class="logo">
    <img src="assets/images/logo.svg" alt="logo">
  </div>
  <div class="card">
    <div class="left">
      <div class="input-container">
        <p class="title">Bill</p>
        <span class="input-icon">
          <img src="assets/images/icon-dollar.svg" alt="dollar">
        </span>
        <input type="text" [(ngModel)]="billAmount">
      </div>
      <div class="tip-options">
        <p class="title">Select Tip %</p>
        <div class="options">
          <div class="tip-option" [ngClass]="{'active':perc == selectedPercentage}" *ngFor="let perc of percentages" (click)="setPercentage(perc)">{{perc}}%</div>
          <!-- <div class="tip-option" (click)="setPercentage(10)">10%</div>
          <div class="tip-option" (click)="setPercentage(15)">15%</div>
          <div class="tip-option" (click)="setPercentage(25)">25%</div>
          <div class="tip-option" (click)="setPercentage(50)">50%</div> -->
          <div class="tip-option">Custom</div>
        </div>

      </div>
      <div class="input-container">
        <p class="title">Number of People</p>
        <span class="input-icon">
          <img src="assets/images/icon-person.svg" alt="people">
        </span>
        <input type="text"  [(ngModel)]="numberOfPeople">
      </div>
    </div>
    <div class="right">
      <div class="amount">
        <div class="amount-left">
          <div>Tip amount</div>
          <div>/ person</div>
        </div>
        <div class="amount-right">&#36;<span class="amount-sub">{{calculateTipPerPerson()}}</span></div>
      </div>

      <div class="amount">
        <div class="amount-left">
          <div>Total</div>
          <div>/ person</div>
        </div>
        <div class="amount-right">&#36;<span class="amount-sub">{{calculateTotalBillPerPerson()}}</span></div>
      </div>

      <div class="button-cont">
        <button class="btn" (click)="reset()">RESET</button>
      </div>
    </div>
  </div>
</div>